<form action="/restaurants" method="POST" class="container mt-5 mb-4">
  {{#if errorMsg}}
    <div class="alert alert-danger" role="alert">
      {{errorMsg}}
    </div>
  {{/if}}
  <div class="form-group">
    <label for="name">餐廳名稱</label>
    <input type="text" class="form-control" placeholder="餐廳名稱" name="name" required{{#if name}} value="{{name}}"{{/if}}>
  </div>
  <div class="form-group">
    <label for="name_en">餐廳英文名稱</label>
    <input type="text" class="form-control" placeholder="餐廳英文名稱" name="name_en" required{{#if name_en}} value="{{name_en}}"{{/if}}>
  </div>
  <div class="form-group">
    <label for="category">料理類別</label>
    <input type="text" class="form-control" placeholder="料理類別" name="category" required{{#if category}} value="{{category}}"{{/if}}>
  </div>
  <div class="form-group">
    <label for="image">照片URL</label>
    <input type="url" class="form-control" placeholder="照片URL" name="image" required{{#if image}} value="{{image}}"{{/if}}>
  </div>
  <div class="form-group">
    <label for="location">地址</label>
    <input type="text" class="form-control" placeholder="地址" name="location" required{{#if location}} value="{{location}}"{{/if}}>
  </div>
  <div class="form-group">
    <label for="phone">聯絡號碼</label>
    <input type="tel" class="form-control" placeholder="聯絡號碼" name="phone"{{#if phone}} value="{{phone}}"{{/if}}>
  </div>
  <div class="form-group">
    <label for="google_map">Google Maps URL</label>
    <input type="url" class="form-control" placeholder="Google Maps URL" name="google_map"{{#if google_map}} value="{{google_map}}"{{/if}}>
  </div>
  <div class="form-group">
    <label for="rating">評比分數</label>
    <input type="number" class="form-control" placeholder="評比分數" name="rating" min="0" max="5"{{#if rating}} value="{{rating}}"{{/if}}>
  </div>
  <div class="form-group">
    <label for="description">簡介</label>
    <textarea name="description" class="form-control" rows="5">{{#if description}}{{description}}{{/if}}</textarea>
  </div>
  <div class="form-group">
    
    
  </div>
  <button type="submit" class="btn btn-success">Save</button>
  <a href="/" class="btn btn-danger">back</a>
</form>
